<style scoped>
.pop-up{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 80vw;
    height: 50vh;
    margin: 25vh auto;
    background-color: white;
    border-radius: 4rem;
    z-index: 10;
}
</style>

<template>
    <div class="pop-up">
        <h2>{{title}}</h2>
        <article>{{text}}</article>
        <a class="pill" v-bind:style="{ borderColor: color }" v-on:click="hideWindow()">close</a>
    </div>
</template>

<script>
export default {
    props: {
        title: {
            type: String
        },
        text: {
            type: String
        },
        color: {
            type: String
        }
    },
    methods: {
        hideWindow() {
            this.$emit("close");
        }
    }
}
</script>