
<style >
@import './assets/css/buefy.css';
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

*{
  color: black !important;
  font-family: 'Courier New', Courier, monospace !important;
}

html, body{
  overflow-x: hidden;
  background: #eee;
  height: 100vh;
  width: 100vw;
}

.hidden{
  display: hidden !important;
}
.menu{
    display: block;
    position: fixed;
    background-color: black;
    opacity: 0.3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    z-index: 5;
}
.pop-up-button{
  width: 8rem;
  height: 8rem;
  text-shadow: 0px 0px 0.2rem #000;
  border-radius: 8rem;
  display: inline-block;
  overflow-wrap: break-word;
  line-height: 8rem;
  font-weight: 600;
  color: #ffffff !important;
}
.pill{
  padding: 0.2rem 1rem;
  height: 1rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 1rem;
  border-style: solid;
  border-width: 0.2rem;
  position: relative;
  top: 1rem;
}

.grid-container{
  display: grid;
  grid-template-columns: auto auto;
}
.grid-item {
  text-align: center;
  padding: 1rem;
}
</style>

<template>
  <div id="app">
    <div class="grid-container">
    <div class="grid-item" v-for="story in stories" :key="story.color">
      <a class="pop-up-button" @click="selected_id = story.id" v-bind:style="{ backgroundColor: story.color }">{{story.title}}</a>
      <div class="menu" v-if="selected_id != 0" @click="selected_id = 0">
      </div>
      <PopUp v-if="story.id === selected_id" :color="story.color" :title="story.title" :text="story.text" v-on:close="selected_id = 0"/>
    </div>
    </div>
  </div>
</template>

<script>
import PopUp from './components/PopUp.vue'

export default {
  name: 'App',
  components: {
    PopUp
  },
  data: function(){
    return {
      selected_id: 0,
      stories: [
        {
          id: 1,
          color: "#ae315a",
          title: "RandomA",
          text: "details of RandomA"
        },
        {
          id: 2,
          color: "#7531ae",
          title: "RandomB",
          text: "details of RandomB"
        },
        {
          id: 3,
          color: "#31a8ae",
          title: "RandomC",
          text: "details of RandomC"
        },
        {
          id: 4,
          color: "#64ae31",
          title: "RandomX",
          text: "details of RandomX"
        },
        {
          id: 5,
          color: "#6f3d08",
          title: "RandomY",
          text: "details of RandomY"
        },
        {
          id: 6,
          color: "#882525",
          title: "RandomZ",
          text: "details of RandomZ"
        },
      ]
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
